graft foreign-licenses
include COPYING
include piccol.cmd
include README.md
include README.html
include win-standalone-build.cmd
include win-install-dependencies.cmd

prune ./build
prune build

global-exclude *.pyo *.pyc __pycache__ *$py.class
